*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#cabecalho{
    background-color: rgb(54, 53, 53);
    width: 100%;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}


#cabecalho nav{
    width: 100%;
}

#cabecalho img{
    width: 200px;
    height: 200px;
    margin-left: 42%;
}

#cabecalho nav a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    margin-left:9%;
}

#cabecalho nav a:hover{
    color: rgb(184, 16, 16);
}

main{
    padding: 20px;
    background-color: #8B8C89;
    width: 95vw;
    margin: auto;
    min-height: 900px;
}

body{
    background-color:#616160;
}

footer{
    background-color: black;
    width: 100%;
    margin: auto;
    height: 100px;
}

#categorias{
    text-align: center;
}


.botoes{
    margin-left: 30px;
    margin-right: 30px;
    width: 70px;
    height: 50px;
    margin-bottom: 20px;
    border: solid rgb(221, 216, 216) 2px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.botoes:hover{
    cursor: pointer;
    font-weight: bold;
}

#facil{
    color: green;
}

#medio{
    color: rgb(167, 167, 28);
}

#dificil{
    color: red;
}

#facil:hover{
    box-shadow: 0px 0px 5px green;
}

#medio:hover{
    box-shadow: 0px 0px 5px yellow;
}

#dificil:hover{
    box-shadow: 0px 0px 5px red;
}

#init{
    margin-bottom: 10px;
    margin-left: 44%;
    width: 70px;
    height: 50px;
    margin-bottom: 20px;
    border: solid rgb(231, 225, 225) 2px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(91, 91, 245);
}

#init:hover{
    box-shadow: 0px 0px 5px rgb(91, 91, 245);
}

#secao1{
    width: 50%;
    height: 850px;
    float: left;
}

#campo{
    background-image: url("../img/campo2.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 980px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

#campocima{
    width: 100%;
    height: 33%;
    padding: 45px;
    display: flex;
    justify-content: space-around;
}

#campomeio{
    width: 100%;
    height: 33%;
    padding: 45px;
    display: flex;
    justify-content: space-around;
}

#campobaixo{
    width: 100%;
    height: 33%;
    padding: 45px;
    display: flex;
    justify-content: space-around;
}

#zagc1, #zagc2, #latc1, #latc2{
    width: 50px;
    height: 50px;
}

#g1, #g2, #aa1, #aa2{
    width: 50px;
    height: 50px;
}

#zagb1, #zagb2, #latb1, #latb2{
    width: 50px;
    height: 50px;
}

@media (max-width: 1200px) {
    #zagc1, #zagc2, #latc1, #latc2{
        width: 30px;
        height: 30px;
    }
    
    #g1, #g2, #aa1, #aa2{
        width: 30px;
        height: 30px;
    }
    
    #zagb1, #zagb2, #latb1, #latb2{
        width: 30px;
        height: 30px;
    }

    #campocima{
        width: 100%;
        height: 33%;
        padding: 38px;
        display: flex;
        justify-content: space-around;
    }
    
    #campomeio{
        width: 100%;
        height: 33%;
        padding: 38px;
        display: flex;
        justify-content: space-around;
    }
    
    #campobaixo{
        width: 100%;
        height: 33%;
        padding: 38px;
        display: flex;
        justify-content: space-around;
    }
} 

#secao2{
    float: left;
    width: 50%;
    height: 560px;
    text-align: center;
    background-color: #555554;
    border-radius: 15px 15px 0px 0px;
    border: solid 5px rgb(37, 37, 37);
}

#overall{
    width: 100%;
    text-align: center;
}


#placar{
    background-color: whitesmoke;
    width: 20%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    border: solid black 4px;
    border-radius: 3px;
    padding: 4px;
    margin: auto;
    margin-bottom: 20px;
}

#overall p{
    width: 150px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: solid black 2px;
    margin: auto;
    margin-left: 3px;
    display: inline-block;
}

#conc{
    width: 70px;
    height: 50px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 30px;
}

#conc:hover{
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

#profilepic{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: 34%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 10px solid #333333;
    border-radius: 10px;
}

#secao2 p{
    width: 40%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: solid #2b2b2b 3px;
    margin: auto;
    margin-left: 3px;
    display: inline-block;
    margin-top: 5px;
}

#teamname{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: #424242;
    text-align: center;
    font-size: 20pt;
    color: whitesmoke;
    padding: 0;
}

#teamname input{
    border: none;
    width: 300px;
    height: 40px;
    font-size: 14px;
    text-align: center;
}

#teamname input:focus{
    background-color: black;
    color: white;
    border: none;
}

.btnt{
    margin-left: 30px;
    margin-right: 30px;
    width: 70px;
    height: 50px;
    margin-bottom: 20px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: black;
    visibility: hidden;
}

#entrosamento{
    box-sizing: border-box;
    font-size: 13px;
}

footer{
    padding: 5vh;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.nenhuma{
    border: 2px solid #424242;
}

.forca{
    border: 2px solid #881818;
}

.velocidade{
    border: 2px solid #aa9c1d;
}

.tecnica{
    border: 2px solid #234bb9;
}