#colec1{
    width: 50%;
    height: 850px;
    float: left;
}

#colec1 #cardphoto{
    width: 32vw;
    height: 32vw;
    margin-left: 15%;
    border: 10px solid rgb(77, 77, 77);
    border-radius: 10px;
}

#colec1 h2{
    text-align: center;
    margin-top: 10px;
    font-weight: 1000;
    margin-bottom: 10%;
}


#colec1 #cardtype,#colec1 #carddesc{
    float: left;
}

#colec1 #cardtype{
    margin-top: 8px;
    margin-left: 15%;
    width: 4vw;
    height: 4vw;
}

#colec1 #carddesc{
    width: 60%;
    height: 8%;
    background-color: rgb(167, 167, 167);
    padding: 8px;
    font-size: 14pt;
    border: 5px solid rgb(58, 58, 58);
    border-radius: 10px;
    color: white;
}

.btncolec{
    float: left;
    width: 70px;
    height: 50px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: black;
    margin-left: 30%;
    color: white;
    margin-top: 5%;
}

#iconeplayer{
    margin-left: 10%;
}

.btncolec:hover{
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.btncolec:active{
    border: 2px solid gray;
}

#colec2{
    width: 50%;
    height: 850px;
    float: left;
}

#colec2 .classsec{
    width: 100%;
    height: 12%;
    background-color: rgb(82, 82, 82);
    color: white;
}

#colec2 .classtext{
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 14pt;
    margin-top: 10px;
}

#colec2 .imgcont{
    background-color: rgb(105, 105, 105);
    width: 100%;
    height: 80%;
    padding: 15px;
    text-align: center;
}

#colec2 .imgcont img{
    width: 9%;
    height: 100%;
    background-color: rgb(83, 83, 83);
    margin-left: 2%;
    margin-right:2%;
    transition: 0.1s;
}

#colec2 .imgcont img:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

#colec2 .imgcont img:active{
    border: rgb(129, 18, 129) solid 2px;
}


.comum{
    border: 2px solid rgb(138, 138, 138);
    border-radius: 2px;
}
.incomum{
    border: 2px solid rgb(45, 233, 28);
    border-radius: 2px;
}
.raro{
    border: 2px solid rgb(21, 18, 221);
    border-radius: 2px;
}
.epico{
    border: 2px solid rgb(123, 24, 204);
    border-radius: 2px;
}
.lendario{
    border: 2px solid rgb(204, 135, 31);
    border-radius: 2px;
}
.mitico{
    border: 2px solid rgb(143, 12, 12);
    border-radius: 2px;
}
.especial{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
}

#forca{
    color: rgb(105, 13, 13);
    font-weight:600;
}

#velocidade{
    color: rgb(116, 92, 15);
    font-weight:600;
}

#tecnica{
    color: rgb(17, 17, 129);
    font-weight:600;
}