#questsec{
    width: 100%;
    height: 1000px;
    text-align: center;
}

.quest{
    width: 40%;
    margin-top: 3%;
    height: 7%;
    background-color: aqua;
    display: inline-block;
    text-align: center;
    border: 5px solid rgb(56, 56, 56);
    padding: 5px;
    padding-top:10px ;
    color: rgb(0, 0, 0);
}

.quest p{
    float: left;
    font-size: 24px;
    padding-top: 8px;
}

.quest button{
    float: right;
    width: 20%;
    height: 90%;
}
.quest button:hover{
    color: red;
    cursor: pointer;
}

.questcomplete{
    visibility: hidden;
}

.facil{
    background-color: rgb(155, 192, 155);
}
.medio{
    background-color: rgb(204, 204, 175);
}
.dificil{
    background-color: rgb(201, 165, 165);
}
